ion-button {
  width:100%;
  background: yellow ;
  color: white;
  border-radius: 5px;

}

#output {

}

ion-card-title {
  padding-left: 2px;
  text-align:center;
  border-radius: 5px;

}

ion-col {
}

ion-card-subtitle {
  text-align: center;
  font-size: 5vh;
}

ion-card {
  padding-bottom: 4%;
}

ion-title {
  
}
